@page "/"
@using BlazorWASMLocalSqliteExample.Models
@using BlazorWASMLocalSqliteExample.Services
@inject IUserService UserService

<PageTitle>Index</PageTitle>

<h1>Users</h1>
@foreach(var user in users)
{
    
}

<button @onclick="AddUser">Add User</button>

<SurveyPrompt Title="How is Blazor working for you?" />

@code{
    public List<User> users { get; set; } = new List<User>();

    protected async override Task OnInitializedAsync()
    {
        users = await UserService.GetAllUsersAsync();
    }
    public async Task AddUser()
    {
        await UserService.CreateUserAsync("John Doe");
        StateHasChanged();
    }
}
